/ImprovedFormattedTextField.class
/ParseAllFormat.class
/ImprovedFormattedTextField$1.class
/ImprovedFormattedTextField$MousePositionCorrectorListener$1.class
/ImprovedFormattedTextField$MousePositionCorrectorListener.class
